:root {
    /* --main-bg-color: #070f15;
    --header: #131d27; */
    --main-bg-color: #1f2328;
    --header: #2c212d; 
     /* #1f2328; */
    /* rgb(22, 21, 21); */
}

/* font */
@font-face {
    font-family: Martel;
    src: url(/assets/font/MartelSans-Bold.ttf) format("opentype");
    
}

@font-face {
    font-family: Atlas;
    src: url(/assets/font/AtlasGrotesk-Regular.ttf) format("opentype");
    
}

p, h1, h2, h3, h4, h5, h6, td, th, tr, table, body {
    font-family: Atlas !important;
}

#document html {
    background-color: transparent !important;
}

body {
    overflow: hidden;
    /* /background-color: #333 !important; */
    background-color: var(--main-bg-color) !important;
}

.special-scrolbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox  */
.special-scrolbar { 
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media (max-width: 767px) {
    
    body {
        overflow: visible   
    }
}


input {
    color: white;
    padding: auto;
    padding-left: 10px;
}

.price-card p {
    font-size: x-large;
    color: #f1f1f1;
    text-align: center;
}

li a {
    color: black !important;
}

hr {
    border: 0.001px solid rgba(187, 187, 187, 0.233);
}

html,
body,
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

table,
th,
td,
tr {
    font-size: 9px !important;
    padding: 0% !important;
}

th span {
    font-weight: 700 !important;
}


.dark-edition .text-primary {
    color: white !important;
    font-weight: 900 !important;

}

/* buscar a1a1a1 para cambiar el color de las tablas internas*/

p {
    color: white !important;
}

.hv {
    height: 100vh;
}

.close {
    margin-right: 30px;
    color: rgb(0, 0, 0);
    background-color: white !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 10px !important;
}

.button-trade {
    background-color: transparent !important;
    box-shadow: none !important;
    /* border: 1px solid black !important; */
    vertical-align:middle;
    padding: 2% !important; 
   
    width: 80%;
}

.button-trade p {
    vertical-align: middle;
    font-size: small;
    text-align: left;
    /* float: right; */
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-left: 60px !important;
}

.button-trade img {
    float: left;
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 20px;
}

.swap {
    background-color: rgba(24, 27, 39, 0.603);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 2px;

}

.tktable {
    width: 14px;
}


.trade-icon{
    color: white;
    
}


#box p{
    font-size: 10px;
    font-weight: 700 !important;
    margin: 20px; 
    text-align:left;
    
}

#box label {
    font-weight: 700 !important;
    margin-top: 3px;
    
}

#box { 
    width:90%;  
    margin:0px auto; }

#box input{
    margin-left: 0px;
    float: right;
    align-content: flex-end;
    text-align: right;
    background-color: transparent;
    border: none;
    font-size: small;
    width: 100px;
}

#config { 
    width:100%;  
    margin:0px auto; 
}

#config p{
    font-size: 10px;
    font-weight: bold;
    margin: 20px; 
    text-align:left;
    
}

#config label {
    margin-top: 3px;
    margin-left: 0% !important;
    text-align: left;
    ;
}

#config input{
    margin-left: 0px;
    margin-right: -5px;
    float: right;
    align-content: flex-end;
    text-align: right;
    background-color: rgba(24, 27, 39, 0.603);
    border-radius: 10px;
    border: none;
    font-size: small;
    width: 60px;
    padding-right: 10px;
}

#config span {
    margin-left: 0px;
    margin-right: -5px;
    float: right;
    align-content: flex-end;
    text-align: right;
    font-size: x-small;
    width: 60px;
    padding-right: 10px;
    vertical-align: bottom;
}


.search {
    width: 100%;
    height: 50px;
    background-color: var(--main-bg-color);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(58, 7, 37);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px rgb(58, 7, 37);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px rgb(46, 33, 40);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /* rgb(46, 33, 40) */
    border: none;
    color: #428cd6;
}

.bmd-form-group {
    color: #ffffff !important;
}

.tittle-pairs {
    text-align: center;
    font-size: large;
    color: #f7f7f7;
}

.boredrs-cars {
    border-left: 1px solid rgb(129, 129, 129, 0.5);
}

.sidebar {
    background-color: var(--header) !important;
}

.sidebar-background::after {
    background-color: rgba(8, 8, 8, 0.98) !important;
}

.overflow {
    overflow: scroll;
}



.no-margin-tb {
    margin-top: 0% !important;
    margin-bottom: 0% !important
}

.head-orderbook {

    padding: 10px;
    color: rgb(241, 241, 241);
    background-color: var(--header); 
    /* #1a2940;  */
    /* rgb(24, 27, 39); */
    height: 35px !important;

}

.card-title {
    color: rgb(255, 255, 255) !important;
    font-size: 12px;
    font-weight: 700 !important;
}

.card {
    border-radius: 0% !important;
    border-left: 1px solid rgb(129, 129, 129, 0.4);
    border-right: 1px solid rgb(129, 129, 129, 0.4);
    background-color: var(--main-bg-color) !important;
    font-weight: 700 !important;
}

.no-border-l {
    border-left: none !important;
}
.no-border-r {
    border-right: none !important;
}

.no-margin {
    margin: 0% !important;
    padding: 0px !important;
}

.card-h {
    height: 270px;
}

.card-h2 {
    height: 1540px;
}

.card-h3 {
    height: 500px;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
    color: black;
}

.price-card {
    border: 2px solid #8e24aa;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    margin-top: 10px;
    height: 55px;
    padding: 0.75rem 1.25rem;
}

.anychart-tooltip {
    width: 300px;
    background: white;
    color: black;
    box-shadow: 5px 5px 18px #333;
}

.anychart-tooltip h3 {
    text-align: center;
}

.anychart-tooltip img {
    max-height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.anychart-tooltip table {
    width: 100%;
}

.anychart-tooltip table tr td:last-child {
    text-align: right;
}

.anychart-tooltip .k-square {
    color: #67b6f4;
}

.anychart-tooltip .d-square {
    color: #428cd6;
}

.anychart-tooltip .j-square {
    color: #ed6c20;
}


.iframe {
    height: calc(100vh + 230px) !important;
    border: 0;
    margin: 0 auto;
    display: block;
    border-radius: 0px;
    max-width: 600px;
    min-width: 300px;             
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}



@media (max-height: 850px) {
    
    .iframe {
        height: 600px !important;   
    }
}

@media (max-height: 1100px) {
    
    .iframe {
        height: calc(100vh + 150px) !important; 
    }
}


.anychart-range-picker input {
    background-color: #191b20 !important;
    border: 1px solid #191b20 !important;
    border-radius: 10px;
    padding: 5px;
}

.anychart-button {
    background-color: #191b20 !important;
    color: white !important;
    background-image: linear-gradient(to bottom,#191b20,#21242b) !important;
}